*{
   box-sizing: border-box;
}
html, body{
   height:100%;
}
body {
   padding: 0; 
   margin: 0;

   font-family: 'Inconsolata', monospace;
}
#container{
   position:fixed;
   height:100%;
   top:0;
   bottom:0;
   right:0;
   left:0;
   /*background-image: url('img/gradient6.svg');*/
   background-image: url('img/ocean.jpg');
   
   background-size: cover;
   opacity: .4; 
}

#hand { 
   stroke: #FFFFFF; 
}
#clock-div {
   fill: #4d4d4d;
   opacity: 30%;
   width:90%;
   margin:3% auto;
   z-index: 5;
}
#clock{
   margin:0 auto;
   height:80%;
   width:100%;
}
p{
   margin:0;
   font-size:1.3em;
}
#content{
   display:none;
   position:absolute;
   top:5%;
   width:92%;
   height:90%;
   left:4%;
   background-color:white;
   z-index: 200;
}
.text{
   padding-top:50px;
   padding-left:50px;
}
.button{
   cursor:pointer;
   padding:9px 15px;
   z-index: 100;
   font-weight: 800;
   opacity:.8;
}
.white{
   background-color:white;
   color:steelblue;
}
.blue{
   background-color: steelblue;
   color:white;
}
#info{
   cursor:help;
}
#bgBtn{
   cursor:pointer;
}
.btnbox{
   position:fixed;
   bottom:7%;
   right:4%;
}
#loading{
   position:fixed;
   opacity:.6;
}

@media (max-width: 680px) {
   #clock-div {
      width:95%;
      margin:10% auto;
   }
   h1{
      font-size:4em;
   }
}