   body {
      font-family: 'Yantramanav', sans-serif;
      background: linear-gradient(180deg, #cbe6f5, white);
/*      background: url(../img/gradient-04.jpg) no-repeat;
      background-size: 100% 100%;*/
      /*opacity: 0.10;*/
   }

   #container{
      position:fixed;
      z-index:50;
   }

   #hand { 
      stroke: #FFFFFF; 
   }

   #clock-div {
      position:relative;
      fill: #4d4d4d;
      width:50%;
      /*margin-top: auto;*/
      /*margin-bottom: auto;*/
      /*margin-top:100px;*/
      margin-left: auto;
      margin-right: auto;
      opacity: 20%;
   }

   #info {
      position:fixed;
      bottom:10px;
      margin-right:0px;
   }


find range of values - 